#navigation-bar-container {
 display: flex;
 position: relative;
 align-items: center;
 left: 4%;
 width: 92%;
}
#navigation-bar-container::before {
 content: '';
 position: absolute;
 width: 100%;
 height: 60%;
 left: 0%;
 top: 25%;
 z-index: -1;
 border-radius: 16px;
 background-color: #111111;
}
#logo {
 flex-grow: 0;
 width: 128px;
 height: 128px;
 margin-left: 25px;
 margin-top: 10px;
 margin-right: 25px;
}
#search-container {
 display: flex;
 position: relative;
 align-items: center;

 flex-grow: 1;
 height: 24pt;
 background-color: #444444;
 border-radius: 12px;
}
#search-input {
 flex-grow: 1;
 height: 16pt;
 border-radius: 6px;
 border: none;
 margin-left: 4pt;
 margin-right: 1pt;
}
#search-button {
 display: flex;
 flex-grow: 0;
 position: relative;
 justify-content: center;
 align-items: center;
 border-radius: 8px;
 margin-right: 5px;
 background-color: #444444;
 cursor: pointer;
}
#search-button-magnifier {
 width: 24px;
 height: 24px;
 align-items: center;
 margin: 1px;
}
#navigation-bar{
 display: flex;
 flex-grow: 0;
 position: relative;
 align-items: center;
 justify-content: space-between;
 margin-left: 25px;
 margin-right: 25px;
 background-color: #444444;
 border-radius: 12px;
}
#homes {
 display: flex;
 flex-grow: 0;
 position: relative;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
 background-color: #444444;
 margin-right: 1px;
}
#home-icon {
 width: 25px;
 height: 25px;
 align-items: center;
 margin: 5px;
 border-radius: 50%;
}
#account {
 display: flex;
 flex-grow: 0;
 position: relative;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
 background-color: #444444;
 margin-right: 1px;
}
#pfp {
 width: 24px;
 height: 24px;
 align-items: center;
 margin: 1px;
 border-radius: 50%;
}