<div class="house-listing">
 <div class="house-listing-image">
  <img class="house-listing-image-actual" src="/images/no_image.png" />
 </div>
 <label class="house-listing-address">%s</label>
 <label class="house-listing-surface-area">Surface Area: %uM2</label>
 <label class="house-listing-bedroom-count">Bedroom Count: %u</label>
 <label class="house-listing-bathroom-count">Bathroom Count: %u</label>
 <label class="house-listing-floor-count">Floor Count: %u</label>
 <label class="house-listing-price">Price: R%.2f</label>
 <label class="house-listing-description">%s</label>
</div>