<div id="navigation-bar-container">
 <a href="/">
  <img id="logo" src="/images/icon.png">
 </a>
 
 <div id="search-container">
  <input id="search-input" placeholder="Search for homes...">
  <div id="search-button" onclick="search_button_onclick()">
   <img id="search-button-magnifier" src="/images/magnifier.png">
  </div>
 </div>

 <div id="navigation-bar">
  <a href="/homes"> 
   <div id="homes">
    <img id="home-icon" src="/images/house-icon.png">
   </div>
  </a>

  <a href="/account">
   <div id="account">
    <img id="pfp" src="%s" />
   </div>
  </a>
 </div>
</div>